
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- listagem de visualizacao-->
  <ion-list lines="inset" *ngFor="let item of shoppingLists; index as i">
    <ion-item>
      <ion-label>{{item.title}}</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon> <!-- Alterar icone -->
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- listagem de ediçao-->

</ion-content>